<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,700,400i,500%7CDancing+Script:700%7CDancing+Script:700" rel="stylesheet">
            <link href="{{ asset ('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,700,400i,500%7CDancing+Script:700%7CDancing+Script:700') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}" />
            <!-- owl Carousel assets -->
            <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/owl.theme.css') }}" rel="stylesheet">
            <!-- bootstrap -->
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <!-- hover anmation -->
            <link rel="stylesheet" href="{{ asset('assets/css/hover-min.css') }} ">
            <!-- flag icon -->
            <link rel="stylesheet" href="{{ asset('assets/css/flag-icon.min.css') }}">
            <!-- main style -->
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <!-- colors -->
            <link rel="stylesheet" href="{{ asset('assets/css/colors/main.css') }}">
            <!-- elegant icon -->
            <link rel="stylesheet" href="{{ asset('assets/css/elegant_icon.css') }}">
            <!-- admin style -->
            <link rel="stylesheet" href="{{ asset('assets/css/sb-admin.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script  src="{{ asset('assets/js/sticky-sidebar.js') }}"></script>
            <script  src="{{ asset('assets/js/YouTubePopUp.jquery.js') }}"></script>
            <script  src="{{ asset('assets/js/owl.carousel.min') }}.js"></script>
            <script  src="{{ asset('assets/js/imagesloaded.min.js') }}"></script>
            <script  src="{{ asset('assets/js/wow.min.js') }}"></script>
            <script  src="{{ asset('assets/js/custom.js"></') }}"></script>
            <script  src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script  src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script defer src="{{ asset('https://use.fontawesome.com/releases/v5.0.6/js/all.js') }}"></script>
            <script  src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
