{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div id="page-title" class="padding-tb-30px gradient-white">
        <div class="container">
            <ol class="breadcrumb opacity-5">
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li class="active">List Blog</li>
            </ol>
            <h1 class="font-weight-300">List Blog</h1>
        </div>
    </div>


    <div class="margin-tb-30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% for article in articles %}
                        {% if article.approuver == 'oui' %}
                        <div class="blog-entry background-white border-1 border-grey-1 margin-bottom-35px">
                            <div class="row no-gutters">
                                <div class="img-in col-lg-5"><a href="#"><img src="http://placehold.it/400x240" alt=""></a></div>
                                <div class="col-lg-7">
                                    <div class="padding-25px">
                                        <a class="d-block h4  text-capitalize margin-bottom-8px" href="{{ path('app_article_show', {'idarticle': article.idarticle}) }}">{{ article.titre }} </a>
                                        <div class="meta">
                                            <span class="margin-right-20px text-extra-small">By : <a href="" class="text-main-color">{{ article.nomAuteur }}</a></span>
                                            <span class="margin-right-20px text-extra-small">Date :  <a href="" class="text-main-color">{{ article.date | date("Y-m-d") }}</a></span>
                                            <span class="text-extra-small">Theme : <a href="" class="text-main-color">{{ article.theme}}</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {% endif %}
                    {% else %}
                        <h2>Il n'ya pas d'article approuver </h2>
                    {% endfor %}



                    <nav class="pagination-sm">
                        {{  knp_pagination_render(articles) }}
                    </nav>
                <div class="col-lg-4">

                    <div class="margin-bottom-30px">
                        <div class="padding-30px background-white border-radius-10">
                            <h4><i class="fas fa-search margin-right-10px text-main-color"></i> Search</h4>
                            <hr>
                            <div class="input-group mb-3">
                                <input type="text" value="Search..." class="form-control border-radius-0">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary text-white background-main-color border-radius-0" type="button">Search</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="widget widget_categories">
                        <div class="margin-bottom-30px">
                            <div class="padding-30px background-white border-radius-10">
                                <h4><i class="far fa-folder-open margin-right-10px text-main-color"></i> Themes</h4>
                                <hr>
                                <ul>
                                    <li><a>psycotherapie</a></li>
                                    <li><a>nutrition</a></li>
                                    <li><a>sport </a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget widget_categories">
                        <div class="margin-bottom-30px">
                            <div class="padding-30px background-white border-radius-10">
                                <h4><i class="fab fa-instagram margin-right-10px text-main-color"></i> Instagram</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="http://placehold.it/400x400" alt=""></a></div>
                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="http://placehold.it/400x400" alt=""></a></div>
                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="http://placehold.it/400x400" alt=""></a></div>
                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="http://placehold.it/400x400" alt=""></a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
